body{
    background-color:rgb(212, 17, 212);
    color:white;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    font-family:cursive;
    min-height:100vh;
  }

  .container{
    background-color:blue;
    padding:20px;
    border-radius:10px;
    box-sizing: border-box;

  }
  p{
    text-align:start;
  }
  input{
    width:100%;
  }