body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1{
    font-size: 2.5rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.277rem;
}

.background-video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

.preloader{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
    transition: 0.1s linear;
}